main {
    margin: 0 5% 0 5%;
    top: 200px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.form-container{
    width: 70%;
    flex-basis: 450px;
    text-align: center;
    align-items: center;
    max-width: 320px;
    min-width: 220px;
    min-height: 350px;
    background-color: #EBEBF0;
    box-shadow: 3px 3px 5px lightgrey;
}

.form-container h2 {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

input{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 540;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.chekbox-container {
    display: flex;
    align-items: center;
    white-space: pre;
    padding-right: 170px;
    padding-left: 18px;
}

main a {
    display: flex;
    justify-content: end;
    padding: 3px 25px 3px 0px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #373867;
}

a:hover {
    color: #c6c6d8;
}

button {
    width: 80%;
    margin-top: 50px;
    font-size: 18px;
    padding: 8px 0px;
    color: white;
    background-color: #F56A6A;
    border-radius: 5px;
    border: 1px solid black;
    
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    main {
        margin: 0 3% 0px 25%;
    }
}

@media screen and (min-width: 1024px) {

    main {
       margin: 0 3% 0px 20%;
   }
}