<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up | Trackgenix SA</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/whole-thing.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <Header> <!-- Social media -->
        <div class="menu-icon">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="logo-google">
            <img src="../assets/imagen-06.png" alt="logo-google">
        </div>
        <div class="logo-company">
            <h1>Trackgenix</h1>
            <div class="logo-line"></div>
            <h2>Subheader</h2>
        </div>
        <div class="socials">
            <a href="https://facebook.com/" target="blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/" target="blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://ar.linkedin.com/" target="blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/" target="blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/" target="blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </Header>
    <aside>  <!-- Sidebar -->
        <div class="menu-icon-sidebar">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <p> Menu </p>
        <ul>
            <li><a href="../views/index.html" target="blanck">Home</a></li>
            <li><a href="../views/sign-up.html" target="blanck">SignUp</a></li>
            <li><a href="../views/login.html" target="blanck">LogIn</a></li>
            <li><a href="#" target="blanck">Contact</a></li>
        </ul>
        <div class="sidebar-line"></div>
        <p>Get in touch</p>
        <ul>
            <li><a href="#" target="blanck">Worked Hours</a></li>
            <li><a href="#" target="blanck">Reports</a></li>
            <li><a href="#" target="blanck">Manegement</a></li>
            <li><a href="#" target="blanck">Roles</a></li>
        </ul>
        <div class="sidebar-line"></div>
        <p class="trackgenix-sidebar">Trackgenix</p>
        <p class="text-sidebar">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio possimus impedit veniam. Nisi obcaeca
            ti ducimus provident assumenda maiores, nesciunt earum et expedita explicabo magnam officiis aut! Te
            mpore sapiente sint quisquam.
        </p>
    </aside>
    <main>
        <div class='form-container'>
            <div class="signUp-form-container">
                <h2>Register</h2>
                <div class='signUp-form'>
                    <form method='get'>
                        <div class="input-form">
                            <div class="column-1">
                                <label>Fisrt Name</label>
                                <input type="text" name="name">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-2">
                                <label>Last Name</label>
                                <input type="text" name="lastname">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-1">
                                <label>DNI</label>
                                <input type="number" name="dni">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-2">
                                <label>Date of Birth</label>
                                <input type="date" name="date">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-1">
                                <label>Email</label>
                                <input type='email' name='email'>
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-2">
                                <label>Phone number</label>
                                <input type="tel" name="phone">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-1">
                                <label>City</label>
                                <input type="text" name="city">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-2">
                                <label>Address</label>
                                <input type="text" name="address">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-2">
                                <label>Postal Code</label>
                                <input type="number" name="postal-code">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-1">
                                <label>Password</label>
                                <input type='password' name="password">
                                <p class="msg-error"></p>
                            </div>
                            <div class="column-2">
                                <label>Repeat Password</label>
                                <input type='password' name="repeat-password">
                                <p class="msg-error"></p>
                            </div>
                        </div>
                    </form>
                    <input type="submit" name="signup-button" value="Continue">
                </div>
            </div>
        </div>
        <div class="signup-validation-container">
            <div id="signup-validation">
                <h3>Sign up result</h3>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
                <p class="signup-validation-result"></p>
            </div>
        </div>
    </main>
    <script src="../javascript/sign-up.js"></script>
</body>
</html>