.header {
    border-bottom: 3px #373867 solid;
    font-size: 35px;
    margin-right: 1%;
    margin-left: 18%;
    padding-left: 72.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: end;
    float: right;
    position: relative;
    width: 10%;
}
.header a{
    text-decoration: none;
    color: #373867;
}
.header a:hover{
    color: #AFAFC2;
}
.sidebar{
    height:100%;
    width: 13%;
    position: fixed;
    background-color: #AFAFC2;
}
.sidebar a{
    padding:15px 16px 5px 28px;
    text-decoration: none;
    font-size:18px;
    color: #373867;
    display:block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    
}
.sidebar a:hover{
    color:#f1f1f1;
}
.sidebar p{
    padding-top: 40px;
    padding-bottom: 12px;
    color: #373867;
    font-weight: bolder;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-size:25px;
}
.bloque-bar{
    border-bottom: 1.5px black solid;
    padding-bottom: 30px;
    margin-left:40px;
    margin-right: 40px;
}
.sidebar .trackgenix-bar{
    font-size: 30px;
    margin-left: 40px;
}
.sidebar .texto-bar{
    font-size:18px;
    color:#373867;
    font-weight: normal;
    margin-left:40px;
    margin-right: 40px;
    padding: 15px;
    text-align:justify;
}
.sidebar .menu-icon a i {
    font-size: 35px;
}
.sidebar .menu-icon {
    position: fixed;
    left: 10%;
    padding-top: 10px;
}
.main {
    margin-left:16%;
    padding: 0px 10px;
}
.main h1{
    padding-top:80px;
    font-size: 60px;
    color: #373867;
    font-weight: bolder;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    text-shadow:2px 2px 5px #373867;
}
.main .presentation h2{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    color: #373867;
    font-weight: normal;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
.main p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align:justify;
}
.main .presentation p{
    float: left;
    margin-top: 50px;
    padding-right: 15px;
}
.main .presentation .img-presentation{
    float: right;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.main .presentation a{
    margin: 500px;
    font-size: 15px;
    font-weight: 1000;
    color: #373867;
    text-transform: uppercase;
    background-color: #FFF;
    padding: 10px 40px;
    border: 2px solid #373867;
    border-radius: 5px;
    text-decoration: none;
}
.main .presentation a:hover{
    color: #AFAFC2;
}
.main .history h2{
    margin-top: 35px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 60px;
    color: #373867;
    font-weight:700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    text-shadow:2px 2px 5px #373867;
}
.main .history {
    float: right;
    margin-top: 56px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.main .history .img1-history {
   float: left;
   padding-right: 20px;
}

.main .history .img2-history {
    float: right;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
}
.main .functions h2 {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 60px;
    color: #373867;
    font-weight:700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    text-shadow:2px 2px 5px #373867;
}
.main .functions .functions-block {
    display: inline-block;
    width: 45%;
}
.main .functions .functions-block h3 {
    float: right;
    width: 65%;
    font-size: 20px;
    padding-bottom: 15px;
    font-size: 30px;
    color: #373867;
    font-weight:bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
.main .functions .functions-block img {
    float: left;
    padding-bottom: 95px;
    padding-left: 15%;
    min-width: 170px;
    max-width: 210px;
    width: 10%;
}
.main .functions .functions-block p {
    position: relative;
    padding-bottom: 80px;
    float: right;
    line-height: 27px;
    width: 65%;
}
.main .reazons h2 {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 60px;
    color: #373867;
    font-weight:700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    text-shadow:2px 2px 5px #373867;
}
.main .reazons .reazons-block {
    display: inline-block;
    width: 45%;
}
.main .reazons .reazons-block h3 {
    float: right;
    width: 65%;
    font-size: 20px;
    padding-bottom: 15px;
    font-size: 30px;
    color: #373867;
    font-weight:bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
.main .reazons .reazons-block img {
    float: left;
    padding-bottom: 95px;
    padding-left: 15%;
    min-width: 170px;
    max-width: 210px;
    width: 10%;
}
.main .reazons .reazons-block p {
    position: relative;
    padding-bottom: 80px;
    float: right;
    line-height: 27px;
    width: 65%;
}
.footer {
    margin-left:16%;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
}
.footer a{
    text-decoration: none;
    color: #373867;
}
.footer a:hover{
    color: #AFAFC2;
}
.pagination a {
    padding: 8px 16px;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination .prev{
    font-size: 15px;
    font-weight: 1000;
    color: #373867;
    text-transform: uppercase;
    background-color: #FFF;
    padding: 10px 20px;
    border: 2px solid #373867;
    border-radius: 5px;
}
.pagination .next{
    font-size: 15px;
    font-weight: 1000;
    color: #373867;
    text-transform: uppercase;
    background-color: #FFF;
    padding: 10px 20px;
    border: 2px solid #373867;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: #ddd;
}
.linea {
    text-align: center;
    border-bottom: 2px black solid;
    margin-left: 20%;
    margin-right: 15%;
    padding-top: 40px;
    margin-bottom: 20px;
}