header {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    height: 130px;
    background-color: #ededed;
    align-items: center;
}

.logo-company {
    text-align: center;
    flex-grow:6;
}

.logo-company h1 {
    font-size: 42px;
    font-weight: bold;
}

.logo-company h2 {
    font-size: 21px;
}

.logo-line {
    border-bottom: 2px black solid;
    margin: 7px auto;
    width: 200px;
}

.logo-google {
    width: 100px;
    height: 120px;
    margin-left: 15%;
}

.logo-google img {
    width: 100px;
    padding: auto;
}

.menu-icon {
    flex-grow: 1;
    text-align: center;
    font-size: 35px;
}

.socials {
    margin-right: 1%;
}

.socials a i {
    font-size: 22px;
}