a {
    text-decoration: none;
}

a:link, a:visited {
    color: #373867;
}

.socials a:hover, .menu-icon a:hover, .social-footer a:hover, aside a:hover {
    color: #c6c6d8;
}
ol {
    list-style: auto;
}
body {
    color: #373867;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}


@media screen and (max-width: 768px) {
    .logo-google, aside, .web-history, .history-container h2 {
        display: none;
    }

    .socials a i {
        margin: 0px !important;
    }
    
}

@media screen and (min-width: 768px) {
    aside, .web-history, .history-container h2 {
        display:none;
    }
}

@media screen and (min-width: 1024px) {
    header {
        justify-content: flex-end;
        border-bottom: 2px black solid;
        max-height: 50px;
        background-color: white !important;
    }

    .logo-google, .logo-company, .menu-icon, .history-container h3, .mob-hist-p, .img1-mob-history, .img2-mob-history, 
    .history-mobile-p, .history-more{
        display: none;
    }

    aside, .web-history, .history-container h2 {
        display:inherit;
    }
}